body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.pitch {
    position: relative; /* Changed to relative */
}

#buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px; /* Adjust width as needed */
    max-height: 90vh; /* To ensure it doesn't overflow */
    overflow-y: auto; /* Scroll if overflow */
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#soccerPitch {
    width: calc(100vw - 220px); /* Adjust width to account for buttons */
    height: auto;
}

#data {
    margin-top: 20px;
    font-size: 18px;
}

#Vis_Button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
