body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pitch {
    position:absolute;
    top: 100%;
    left: 100%;
}
