body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: flex-start;
}

.pitch {
    margin-right: 20px;
}

#soccerPitch {
    max-width: 100%;
    height: auto;
}

#table-container {
    margin-left: 20px;
}

#coordinates-table {
    border-collapse: collapse;
    width: 200px;
}
#coordinates-table th, #coordinates-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
#coordinates-table th {
    background-color: #f2f2f2;
}

#Vis_Button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
